.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~

# config dir
/config

# auto build
my_build.sh

# change remote
change_remote_git_to_github.sh
change_remote_git_to_server.sh